@import ../../bower_components/foundation/scss/foundation.scss
@import ../../bower_components/mrmrs-colors/sass/colors

@import bourbon/bourbon
@import neat/neat

@import "variables"

body
  // background-color: pink
  
.portrait
  border-radius: 50%
  &.sml
    height: 32px
    width: 32px
  &.med
    height: 64px
    width: 64px
  &.lrg
    height: 128px
    width: 128px

.banner
  background-color: $accent
  margin-bottom: 20px
  padding-top: 40px
  padding-bottom: 20px
  h1 
    color: $white