@import ../../bower_components/foundation/scss/foundation
@import ../../bower_components/mrmrs-colors/sass/colors

@import bourbon/bourbon
@import neat/neat

@import variables


body
  &.detail
    background-color: #eee
  
.portrait
  border-radius: 50%
  &.sml
    height: 32px
    width: 32px
  &.med
    height: 64px
    width: 64px
  &.lrg
    height: 128px
    width: 128px

.banner
  background-color: $accent
  margin-bottom: 20px
  padding-top: 40px
  padding-bottom: 20px
  h1 
    color: $white

ul
  list-style: none

table
  width: 100%
  margin-top: 20px

h1
  font-weight: bold

form
  section
    padding-top: 20px
    padding-bottom: 20px
    &.alt
      background-color: #f4f4f4

#map
  height: 384px

.label
  margin-right: 10px

.name
  margin-right: 10px

.prog
  +clearfix
  width: 100%
  background-color: #eee
  color: rgba(black, 0.1)
  border-radius: 3px
  overflow: hidden
  margin: 20px 0px
  line-height: 30px
  text-transform: uppercase
  font-size: 12px
  .step
    +box-sizing(border-box)
    // width: 25%
    float: left
    padding: 20px
    font-weight: 300
  .completed
    background-color: $teal
    color: darken($teal, 10%)
    .label
      +label($bg: darken($teal, 5%))
    .number
      border: 3px solid $white
  .pending
    background-color: darken($teal, 5%)
    color: $white
    +border-right-radius(3px)
    .label
      +label($bg: darken($teal, 10%))
    .number
      border: 3px solid $white
  .number
    display: inline-block
    border-radius: 50%
    width: 36px
    text-align: center
    border: 3px solid $gray

section.summary
  background-color: white
  padding-bottom: 20px

section.history
  padding-top: 20px

